.reveala {
  border: 3px solid red
}

.bd-line {
  border-top: 1px solid #02250238;
}

.burger {
  margin-top: -5px;
  margin-left: -10px;
}

.ul-inside {
  font-size: smaller;
}



@media (min-width: 976px) {
  .gallery-height {
    height: 42rem;
  }

}

@media (min-width: 768px) {
  .h-addon {
    height: 40rem;
  }

}

@media (min-width: 480px) {
  .h-addon {
    height: 8rem;
  }

}

@keyframes mvIn {
  0% {
    transform: translateX(-100px)
  }

  100% {
    transform: translateX(0)
  }
}

.movingIn {
  animation: mvIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 2s all;
}


.foc:active,
.foc:active,
.foc:visited {
  mix-blend-mode: luminosity
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}


.h-addon {
  height: 40rem;
}

.imgHue {
  filter: hue-rotate(130deg);
}

#hide-view {
  display: none;
}


.icon-start {
  animation: zoom-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.gradCheck {
  background: #F7F8F8;
  /* fallback for old browsers */
  background: -webkit-radial-gradient(farthest-corner at 90% 05%, #f4f6fa, #8aafdf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: radial-gradient(farthest-corner at 90% 05%, #f4f6fa, #8aafdf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.middled {
  /* width: 500px; */
  /* height: 400px; */
  border-radius: 50%;
  /* background-color: white; */
  /* box-shadow:  2px 53px 27px -35px #4a77b1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerd {
  text-align: center;
  font-size: 2em;
  margin: 0;
}



@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.9;
  }
}

@keyframes spin-medium {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.9;
  }
}



.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-spin-medium {
  animation: spin-medium 1s linear infinite;
}

.animate-spin-fast {
  animation: spin-fast 2s linear infinite;
}


.colorz {
  width: 500px;

}

@keyframes fade-in {
  0%{opacity: 0;}
  100%{opacity: 1;}

}

.load-spinner { 
  animation: fade-in 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}